body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  background-color: #000;
}
#searchbox{
  border: 1px solid DarkGreen;
  background-color: #000;
  padding: 4px;
  min-height: 24px;
}

#searchbox_typewriter{
  color: DarkGreen;
}

#searchbox_cursor{
  color: #ddd;
  padding-left: 3px;
}
